<header class="p-1 bg-info text-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="../assets/logo.png"></use>                 
                </svg>
            </a> -->

            <img src="/assets/logo.png" alt="can't load" width="60" height="50">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a   class="nav-link px-2 text-dark">Home</a></li> 
                <li><a  class="nav-link px-2 text-dark">Categories</a></li>
                <li><a  class="nav-link px-2 text-dark">Products</a></li>
                <!-- [routerLink]="['/home']"
                [routerLink]="['/categories']"
                [routerLink]="['/products']" -->
            </ul>

            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form> -->

            <div class="text-end">
                <!-- <button type="button" class="btn btn-outline-light me-2">Login</button> -->
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
